.battle-page {
  padding: 30px;
  width: 100%;
}

.battle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
}

.battle-versus {
  margin-top: -20px;
  margin-bottom: -20px;
}

@media screen and (min-width: 767px) {
  .battle-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  .battle-versus {
    padding: 10px;
    width: 400px;
  }
}
