.home {
  background-color: var(--background-color);
  color: var(--color-font);
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 236px;
  height: 236px;
}
h1 {
  font-family: var(--font-family-h1);
  font-size: 24px;
  font-weight: 100;
}

p {
  font-family: var(--font-family-p);
  margin-left: 38px;
  margin-right: 38px;
  text-align: justify;
}

.paragraph {
  padding-top: 64px;
  padding-bottom: 83px;
}

footer {
  text-align: center;
}

.heart {
  color: red;
}

.imgFirstButton {
  width: 121px;
  height: 85px;
}

.imgSecondButton {
  width: 93.221px;
  height: 69.605px;
}

.firstButton,
.secondButton {
  width: 302px;
  height: 121px;
  border-style: none;
  background: #3b2d69;
  border-radius: 20px;
  color: white;
  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 15px;
  margin-bottom: 57px;
}
