.home-container {
  background-color: var(--background-color);
  color: var(--color-font);
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-logo-pokemon {
  width: 150px;
  height: 180px;
  opacity: 0;
}

.home-title {
  font-family: var(--font-family-h1);
  font-size: 24px;
  font-weight: 100;
}

.home-first-paragraph,
.home-second-paragraph {
  font-family: var(--font-family-p);
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.home-paragraph {
  padding-top: 34px;
  padding-bottom: 43px;
}

.home-footer {
  text-align: center;
  font-family: var(--font-family-p);
}

.home-heart {
  color: red;
}

.home-img-battle-button {
  width: 121px;
}

.home-img-pokedex-button {
  width: 93.221px;
  height: 69.605px;
}

.home-button {
  width: 302px;
  height: 121px;
  border-style: none;
  background: #3b2d69;
  border-radius: 20px;
  color: white;
  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #b3aace;
  color: #3b2d69;
}

@media screen and (min-width: 767px) {
  .home-title {
    font-size: 54px;
  }

  .home-paragraph {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
  }

  .home-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .home-first-paragraph,
  .home-second-paragraph {
    padding: 40px 70px 40px 70px;
  }
}

@media screen and (min-width: 920px) {
  .home-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
  }
}
