.home-container {
  background-color: var(--background-color);
  color: var(--color-font);
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-logo-pokemon {
  width: 236px;
  height: 236px;
  opacity: 0;
}

.home-title {
  font-family: var(--font-family-h1);
  font-size: 24px;
  font-weight: 100;
}

.home-first-paragraph,
.home-second-paragraph {
  font-family: var(--font-family-p);
  margin-left: 38px;
  margin-right: 38px;
  text-align: justify;
}

.home-paragraph {
  padding-top: 64px;
  padding-bottom: 83px;
}

.home-footer {
  text-align: center;
}

.home-heart {
  color: red;
}

.home-img-battle-button {
  width: 121px;
}

.home-img-pokedex-button {
  width: 93.221px;
  height: 69.605px;
}

.home-button {
  width: 302px;
  height: 121px;
  border-style: none;
  background: #3b2d69;
  border-radius: 20px;
  color: white;
  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 15px;
  margin-bottom: 57px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #b3aace;
  color: #3b2d69;
}
